/*清除浮动*/
*{
    padding:0;
    margin:0;
}
.clear{
    zoom:1;
}
.clear:after{
    content:'';
    display: block;
    clear: both;
}
.wrapper{
    padding:20px;
    margin:20px;
    background-color: #eee;
    border: 1px solid #999;
    min-width:800px;
}
.left .group-logo{
    float:left;
    width:80px;
    height:80px;
    background-color: #B94A48;
}
.left .group-name{
    font-size: 20px;
    float:right;
}
.left{
    width:200px;
    padding: 20px;
    float:left;
    background-color: #fff;
}
.right{
    width:120px;
    float:right;
    background-color: #fff;
}
.right .right-logo{
    width:80px;
    height:80px;
    margin:20px;
    background-color: #5890AD;
}
.mid{
    margin: 0 140px 0 260px;
    background-color: #fff;
    padding:20px;
}


